*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(img/bg.jpg);
	background-position: 50% 50%;
	background-attachment: fixed;
}

nav{
	text-align: center;
	background-color: black; 
	padding: 1%;
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}


nav:hover{
	opacity: 100%;
}

nav a{
	text-decoration: none;
	color: white;
}

.zdjecia{
	background-color: rgb(0, 0, 0, 0.7);
	width: 55vw;

	position: absolute;
	left: 43vw;
	top: 7vw;
	color: white;
	font-size: 0.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	float: left;
}

.zdjecia:hover{
	background-color: black;
}

.zdjecia button{
	flex-basis: 5%;
	background: none;
	color: white;
	border: none;
	
}

.zdjecia p{
	margin: 3vw;
	flex-basis: 100%;
}

.zdjecia img{
	margin-top: 2vw;
	width: 35vw;
	height: 25vw;
	flex-basis: 70%;
}

.oferty{
	color: white;
	background-color: rgb(0, 0, 0, 0.7);
	position: absolute;
	left: 5vw;
	top: 7vw;
	width: 35vw;
	margin-right: 10vw;
	font-size: 0.8em;

	
}

.oferty:hover{
	background-color: black;
}
